.service-block{
    background-color: #6CB670
}

article{
    color: white;
}

h3{
    color: white;
}

p{
    font-size: 15px;
    color: #FFFFFF;
}

/* ---- reset ---- */

body {
    margin: 0;
    font:normal 100% Arial, Helvetica, sans-serif;
  }
  
canvas {
    display: block;
    vertical-align: bottom;
}
  
.hero-area{
    background: #b61924;
}
  #contact-us:target {
    display: block;
    position: relative;
    top: -120px; 
    visibility: hidden;
  }
  
.offset:before { 
 display: block; 
 content: " "; 
   height: 150px;      /* Give height of your fixed element */
        margin-top: -150px; /* Give negative margin of your fixed element */   
        visibility: hidden; 
}